body {
  background: linear-gradient(120deg, 2193b0, 6dd5ed);
  font-family: Arial;
}

card {
  background: white;
  width: 320px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

button {
  background: 0b5ed7;
  color: white;
  border: none;
  border-radius: 5px;
}

output {
  margin-top: 15px;
  font-weight: bold;
}
